@use '../../../styles/variables';
@use '../../../styles/mixins';

.buttonDetails {
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
    width: 180px;
    height: auto;
    
    align-self: center;
    position: relative;

    &__circle {
        transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        @include size(40px, 40px);
        border-radius: 25px;
        background: $gold;
    }

    &__arrow-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #FFFFFF;
        transition: all 0.5s  cubic-bezier(0.65, 0, 0.076, 1);
        left: 8px;
        @include size(16px, 3px);
        background: none;

        &::before {
            content: '';
            position: absolute;
            top: -6px;
            right: 0px;
            
            @include size(12px, 12px);
            border-top: 3px solid #FFFFFF;
            border-right: 3px solid #FFFFFF;
            transform: rotate(45deg);
        }
    }

    &__text {
        transition: all 0.5s  cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        inset: 0;
        padding: 15px 0;
        margin: 0 0 0 20px;
        @include font($textFont, 400, 14px, 17px);
        @include goldText;
    }

    &:hover .buttonDetails__circle {
        width: 100%;
    }

    &:hover .buttonDetails__arrow-icon {
        background: #FFFFFF;
        transform: translate(15px, 0);
    }
    &:hover .buttonDetails__text {
        color: #FFFFFF;
        background: transparent;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial; 
    }
}