@font-face {
    font-family: 'Cormorant Upright';
    src: url('./assets/font/CormorantUpright-Light.woff2') format('woff2'),
         url('./assets/font/CormorantUpright-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('./assets/font/CormorantUpright-Bold.woff2') format('woff2'),
         url('./assets/font/CormorantUpright-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('./assets/font/CormorantUpright-Medium.woff2') format('woff2'),
         url('./assets/font/CormorantUpright-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('./assets/font/CormorantUpright-Regular.woff2') format('woff2'),
         url('./assets/font/CormorantUpright-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Upright';
    src: url('./assets/font/CormorantUpright-SemiBold.woff2') format('woff2'),
         url('./assets/font/CormorantUpright-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elsie';
    src: url('./assets/font/Elsie-Regular.woff2') format('woff2'),
         url('./assets/font/Elsie-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Elsie';
    src: url('./assets/font/Elsie-Black.woff2') format('woff2'),
         url('./assets/font/Elsie-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('./assets/font/SourceSerifPro-SemiBold.woff2') format('woff2'),
         url('./assets/font/SourceSerifPro-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('./assets/font/SourceSerifPro-Regular.woff2') format('woff2'),
         url('./assets/font/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('./assets/font/SourceSerifPro-Bold.woff2') format('woff2'),
         url('./assets/font/SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



